@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, TagHelpersApp
@model Message

<h2>Напишите нам</h2>

<form asp-action="CompareMessage" asp-controller="Message" asp-anti-forgery="true" class="compare-message-form">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div>
        <div class="form-group" id="phone-input">
            <label asp-for="Phone">Введите телефон или email.</label>
            <input type="text" asp-for="Phone" size="35" />
            <span asp-validation-for="Phone" />
        </div>
        <div class="form-group" id="text-input">
            <label asp-for="Text">Введите текст сообщения.</label>
            <textarea asp-for="Text" rows="12" cols="39"></textarea>
            <span asp-validation-for="Text" />
        </div>
        <div class="form-group">
            <input type="submit" value="Отправить" class="btn btn-outline-dark" onclick="onSendMessageClickHandler()" /> @ViewBag.String
        </div>
    </div>
</form>