
@model MessageViewModel

<div class="row mt-5 mb-2">
    <ul class="messages-container">
        @{
            if (Model.AllMessages != null)
            {
                foreach (var message in Model.AllMessages)
                {
                    <li style="text-align: center">
                        <h3>@message.Phone</h3>
                        <h6>>@message.Text</h6>
                    </li>
                }
            }
            else
            {
                <li>Список пуст</li>
            }
        }
    </ul>    
</div>