@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, TagHelpersApp

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <nav class="navbar navbar-expand-md">
        <a class="navbar-brand" href="~/List">GiveMeName</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="~/CreateProduct">Создать продукт</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/CreateCategory">Создать категорию</a>
                </li>
            </ul>
            <form class="form-inline mt-2 mt-md-0" asp-controller="Home" asp-action="List">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="searchString">
                <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Поиск" />
            </form>
        </div>
    </nav>
    <div class="row">
        <div class="left-container">
            <ul class="navbar-nav mr-auto">
                @{
                    foreach (var el in Model.AllCategories)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="~/List/@el.Name">@el.Name</a>
                        </li>
                    }
                }
            </ul>
        </div>
        <div class="col">
            @RenderBody()
        </div>
    </div>
    <footer class="container">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>© 2020 All Rights Reserved</p>
    </footer>
    <script src="~/js/bootstrap.min.js"></script>
</body>
</html>
