<div class="contacts-content">
    <h1>Наши контакты</h1>
    <h3>Телефон для связи:</h3>
    <h5>+375(29)xxxxxxx</h5>
    <h3>Электронная почта:</h3>
    <h5>xxx@xxx.xx</h5>
</div>

<style>
    .contacts-content {
        text-align: center;
    }
</style>
