

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, TagHelpersApp

<form method="post" asp-controller="Home" asp-action="CreateProduct" enctype="multipart/form-data">
    <p>Введите название</p>
    <input type="text" name="Name" placeholder="Имя" size="100" />
    <p>Введите описание</p>
    <textarea type="text" name="Description" placeholder="Описание" rows="6" cols="100"></textarea>
    <p>Выберите категорию</p>
    <select id="CategoryId" name="CategoryId">
        @{
            foreach (var el in Model.AllCategories)
            {
                <option value="@el.Id">@el.Name</option>
            }
        }
    </select>
    <p>Прикрепите изображение</p>
    <input type="file" name="uploadedFile" />
    <input type="submit" value="Отправить" />
</form>