<form method="post" action="CreateCategory">
    <p>Введите название</p>
    <input type="text" name="Name" placeholder="Имя" />
    <p>Введите описание</p>
    <input type="text" name="Description" placeholder="Описание" />
    <div>
        <input type="submit" value="Отправить" />
    </div>
</form>