<h5>@Model.CurrentCategory</h5>
<div class="row mt-5 mb-2">
    @{
        foreach (var product in Model.AllProducts)
        {
            <div class="col-lg-4">
                <img class="img-thumbnail" src="@product.ImagePath" alt="@product.Name" />
                <h2>@product.Name</h2>
            </div>
        }
    }
</div>