body {
    background: #fcfcfc;
}
nav {
    background: #00ff21;
}
.left-container {
    float: left;
    width: 200px;
    background: #00ff21;
    height: 100vh;
    text-align: center;
}

.widget-container {
    position: fixed;
    width: 235px !important;
    height: 40px !important;
    bottom: 20px;
    right: 20px;
}

.widget-button-icon {
    display: inline-block;
    width: inherit;
    height: inherit;
    color: #fff;
    font-size: 24px;
    text-align: center;
    background-position-y: 10px;
    letter-spacing: normal;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
}

.widget-button {
    position: absolute;
    width: 235px !important;
    height: 40px !important;
    background-color: forestgreen !important;
    box-shadow: 0px 4px 12px rgba(223, 23, 20, 0.2) !important;
    border-radius: 30px !important;
    cursor: pointer;
}


#widget-frame {
    position: fixed;
    width: 350px;
    height: 90vh;
    bottom: 20px;
    right: 20px;
    display: none;
}

#close-button {
    position: fixed;
    top: 10px !important;
    right: 366px !important;
    display: inline-block;
    width: 40px !important;
    height: 40px !important;
    line-height: 42px;
    border-radius: 30px;
    margin: 5px;
    background-color: forestgreen;
    display: none;
    cursor: pointer;
}

#close-button-text {
    width: inherit;
    height: inherit;
    color: #fff;
    font-size: 24px;
    text-align: center;
    background-position-y: 10px;
    letter-spacing: normal;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    display: inline-block;
}
